@page "/"
@using System.ComponentModel.DataAnnotations
@using System.Drawing
@using ServerSide.Infrastructure.Entities
@using DnetVirtualScrolling

@inject IJSRuntime JSRuntime

<div class="dnet-m-l-40 dnet-m-t-40">
    <div class="d-flex">
        <span class="dnet-m-r-10" style="font-size: 1.5rem; font-weight: bold">Dnet Virtual Scrolling Example</span>
    </div>

    <div class="d-flex" style="width: 450px">
       
        <DnetVirtualScrollViewport Items="_virtualScrollitems"
                                   ItemHeight="50"
                                   TItem="MarineOperator"
                                   DisplayValueConverter="(value) => value.Name">
        </DnetVirtualScrollViewport>
    </div>
</div>


@code {

    private List<MarineOperator> _virtualScrollitems = new List<MarineOperator>();


    protected override void OnInitialized()
    {
        _virtualScrollitems = GetVirtualScrollData();
    }

    public List<MarineOperator> GetVirtualScrollData()
    {

        var items = new List<MarineOperator>();

        var rnd = new Random();

        for (int i = 1; i < 1000; i++)
        {
            var item = new MarineOperator
            {
                MarineOperatorId = i,
                Name = $"MarineOperator {i}",
                Color = Color.FromArgb(rnd.Next(256), rnd.Next(256), rnd.Next(256))
            };

            items.Add(item);
        }

        return items;
    }

    protected class FormData
    {
        [Required]
        public string FilterValue { get; set; } = string.Empty;
    }

}



